<nav class="gtco-nav" role="navigation">
    <div class="gtco-container">

        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <div id="gtco-logo"><a href="index.html">Organize Asansör <em>.</em></a></div>
            </div>
            <div class="col-xs-8 text-right menu-1">
                <ul>
                    <li><a href="@Url.Content("~/")">Anasayfa</a></li>
                    <li><a href="@Url.Content("~/Musteriler")">Müşteriler</a></li>
                    <li class="has-dropdown">
                        <a href="@Url.Content("~/YapilanIs")">İş Takibi</a>
                    </li>
                    <li class="has-dropdown">
                        <a href="@Url.Content("~/Envanter")">Envanter</a>
                    </li>
                    <li class="has-dropdown">
                        <a href="@Url.Content("~/Markalar")">Markalar</a>
                    </li>
                    <li class="btn-cta"><a href="#"><span>Get started</span></a></li>
                </ul>
            </div>
        </div>

    </div>
</nav>

<header id="gtco-header" class="gtco-cover" role="banner" style="background-image: url(images/img_4.jpg)">
    <div class="overlay"></div>
</header>